.maindiv{
    margin-top: 15%;
    margin-left: 55%;
}

.mainform{
    border-style: solid;
    border-color: rgb(179, 179, 179);
    width: 300px;
    height: 400px;
    text-align: center;
    padding-top: 3%;
}